<div class="w-full text-gray-700 bg-blue-400 dark-mode:text-gray-200 dark-mode:bg-gray-800">
  <div class="flex flex-col max-w-screen-xl px-4 mx-auto justify-between flex-row md:px-6 lg:px-8">
    <div class="p-4 flex flex-row items-center justify-between">
      <a href="/" class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
        UrlShortener
      </a>
      <a
        class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
        href="https://github.com/dmunoz-10/url-shortener"
        target="_blank"
      >
        Github
      </a>
    </div>
  </div>
</div>
